In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [4]:
location = "datasets/Kickstartercombo.csv"

df = pd.read_csv(location)
df.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
0,0,1000002330,The Songs of Adelaide & Abullah,Publishing,Poetry,GB,failed,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN

In [5]:
df.shape

(702411, 16)

Clean the Data

In [6]:
df.describe()

,Unnamed: 0,ID,goal,pledged,backers,usd pledged,usd_goal_real,usd_pledged_real
count,702411.000000,7.024110e+05,7.024110e+05,7.024110e+05,702411.000000,6.948170e+05,3.786610e+05,3.786610e+05
mean,351205.000000,1.074829e+09,4.817642e+04,9.223828e+03,103.726589,7.405969e+03,4.545440e+04,9.058924e+03
std,202768.734302,6.192006e+08,1.162920e+06,9.286016e+04,919.654297,8.144094e+04,1.152950e+06,9.097334e+04
min,0.000000,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,1.000000e-02,0.000000e+00
25%,175602.500000,5.379594e+08,2.000000e+03,3.000000e+01,2.000000,2.024000e+01,2.000000e+03,3.100000e+01
50%,351205.000000,1.075562e+09,5.000000e+03,6.150000e+02,12.000000,4.560000e+02,5.500000e+03,6.243300e+02
75%,526807.500000,1.610544e+09,1.505600e+04,4.020000e+03,55.000000,3.261000e+03,1.550000e+04,4.050000e+03
max,702410.000000,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,1.663614e+08,2.033899e+07

In [12]:
test= df.isnull().sum()
test

Unnamed: 0               0
ID                       0
name                     8
main_category            0
category                 0
country                  0
state                    0
goal                     0
pledged                  0
currency                 0
launched                 0
deadline                 0
backers                  0
usd pledged           7594
usd_goal_real       323750
usd_pledged_real    323750
dtype: int64

In [13]:
modeldf = df.drop(['ID','name','usd_goal_real', 'usd_pledged_real'], axis=1)

In [37]:
modeldf.shape

(702411, 12)

In [17]:
modeldf.isnull().sum()

Unnamed: 0          0
main_category       0
category            0
country             0
state               0
goal                0
pledged             0
currency            0
launched            0
deadline            0
backers             0
usd pledged      7594
dtype: int64

In [38]:
#drop rows with any missing data
modeldf_no_missing = modeldf.dropna()
modeldf_no_missing

,Unnamed: 0,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged
0,0,Publishing,Poetry,GB,failed,1000.0,0.00,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.000000
1,1,Film & Video,Narrative Film,US,failed,45000.0,220.00,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.000000
2,2,Music,Music,US,failed,5000.0,1.00,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.000000
3,3,Film & Video,Film & Video,US,canceled,19500.0,1283.00,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.000000
4,4,Food,Restaurants,US,successful,50000.0,52375.00,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.000000
5,5,Food,Food,US,successful,1000.0,1205.00,USD,2014-12-01 18:30:00,2014-12-21 18:30:00,16,1205.000000
6,6,Food,Drinks,US,failed,25000.0,453.00,USD,2016-02-01 20:05:00,2016-03-17 19:05:00,40,453.000000
7,7,Design,Product Design,US,canceled,125000.0,8233.00,USD,2014-04-24 18:14:00,2014-05-29 18:14:00,58,8233.000000
8,8,Film & Video,Documentary,US,canceled,65000.0,6240.57,USD,2014-07-11 21:55:00,2014-08-10 21:55:00,43,6240.570000
9,9,Publishing,Nonfiction,CA,failed,2500.0,0.00,CAD,2013-09-09 18:19:00,2013-10-09 18:19:00,0,0.000000
10,10,Music,Indie Rock,US,successful,12500.0,12700.00,USD,2013-03-09 06:42:00,2013-04-08 06:42:00,100,12700.000000
11,11,Crafts,Crafts,US,failed,5000.0,0.00,USD,2014-09-02 17:11:00,2014-10-02 17:11:00,0,0.000000
12,12,Games,Games,US,failed,200000.0,0.00,USD,2016-02-09 23:01:00,2016-03-25 22:01:00,0,0.000000
13,13,Design,Design,US,failed,2500.0,664.00,USD,2015-01-29 02:10:00,2015-02-28 02:10:00,11,664.000000
14,14,Comics,Comic Books,US,failed,1500.0,395.00,USD,2014-10-09 22:27:00,2014-11-08 22:27:00,16,395.000000
15,15,Publishing,Art Books,US,failed,3000.0,789.00,USD,2015-04-10 21:20:00,2015-05-10 21:20:00,20,789.000000
16,16,Music,Music,US,successful,250.0,250.00,USD,2012-08-02 14:11:00,2012-08-17 14:11:00,7,250.000000
17,17,Food,Food,US,failed,5000.0,1781.00,USD,2012-05-03 17:24:00,2012-06-02 17:24:00,40,1781.000000
18,18,Fashion,Fashion,US,successful,20000.0,34268.00,USD,2013-11-25 07:06:00,2013-12-30 07:06:00,624,34268.000000
19,19,Theater,Theater,US,failed,3500.0,650.00,USD,2014-05-16 10:10:00,2014-06-15 10:09:00,12,650.000000
20,20,Food,Drinks,NO,failed,500.0,48.00,NOK,2015-01-26 19:17:00,2015-02-25 19:17:00,3,6.180008
21,21,Comics,Comics,US,successful,175.0,701.66,USD,2014-10-23 17:15:00,2014-11-12 17:15:00,66,701.660000
22,22,Music,Music,US,successful,10000.0,15827.00,USD,2010-12-07 23:16:00,2011-01-06 23:16:00,147,15827.000000
23,23,Crafts,DIY,GB,failed,12000.0,0.00,GBP,2015-12-06 20:09:00,2016-01-05 20:09:00,0,0.000000
24,24,Film & Video,Webseries,CA,successful,17757.0,48905.00,CAD,2014-11-14 18:02:00,2014-12-14 18:02:00,571,43203.251140
25,25,Comics,Comics,GB,successful,100.0,112.38,GBP,2015-12-29 16:59:00,2016-01-28 16:59:00,27,167.700306
26,26,Food,Food Trucks,GB,failed,3500.0,21.00,GBP,2015-03-01 18:06:00,2015-03-31 18:06:00,1,32.415261
27,27,Design,Product Design,US,successful,1000.0,47266.00,USD,2016-09-07 13:14:00,2016-10-08 02:00:00,549,11253.000000
28,28,Design,Product Design,AU,successful,2000.0,2000.00,AUD,2015-07-23 03:09:00,2015-08-22 03:09:00,18,1473.618900
29,29,Art,Public Art,US,failed,25000.0,1395.00,USD,2013-02-12 01:07:00,2013-03-24 00:07:00,30,1395.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
702381,702381,Games,Playing Cards,US,successful,10000.0,13861.50,USD,2014-09-03 19:53:50,2014-10-03,413,13861.500000
702382,702382,Film & Video,Comedy,US,failed,12000.0,0.00,USD,2014-05-06 23:50:34,2014-06-05,0,0.000000
702383,702383,Fashion,Apparel,US,failed,25000.0,11643.00,USD,2014-11-13 17:16:17,2014-12-13,97,11643.000000
702384,702384,Photography,Photography,US,failed,4000.0,3531.00,USD,2010-11-08 02:43:59,2011-01-08,37,3531.000000
702385,702385,Publishing,Nonfiction,US,failed,800.0,70.00,USD,2015-08-25 22:37:14,2015-09-24,5,70.000000
702386,702386,Music,Country & Folk,CA,successful,5000.0,5435.00,CAD,2014-11-17 17:50:12,2014-12-17,78,4814.880000
702387,702387,Film & Video,Shorts,US,successful,10000.0,10245.00,USD,2017-08-29 06:57:28,2017-10-13,123,145.000000
702388,702388,Publishing,Nonfiction,US,failed,5000.0,18.00,USD,2014-07-15 02:10:39,2014-08-15,5,18.000000
702389,702389,Food,Drinks,US,successful,5000.0,5579.00,USD,2015-11-03 13:04:14,2015-12-03,103,5579.000000
702390,702390,Publishing,Fiction,US,canceled,1000.0,100.00,USD,2014-08-08 21:49:31,2014-09-11,2,100.000000
702391,702391,Design,Product Design,CH,failed,80000.0,0.00,CHF,2015-07-06 18:00:47,2015-09-04,0,0.000000
702392,702392,Games,Tabletop Games,FR,successful,1000.0,1246.00,EUR,2017-10-04 11:26:44,2017-10-31,35,66.720000
702393,702393,Technology,3D Printing,US,canceled,6500.0,0.00,USD,2014-05-05 20:22:45,2014-05-26,0,0.000000
702394,702394,Design,Product Design,US,successful,3500.0,6169.00,USD,2015-11-23 07:33:14,2015-12-15,120,6169.000000
702395,702395,Comics,Comics,GB,failed,16000.0,2738.00,GBP,2013-09-10 22:45:26,2013-10-10,38,4281.150000
702396,702396,Publishing,Children's Books,US,successful,950.0,1732.02,USD,2013-10-18 21:35:04,2013-11-30,31,1732.020000
702397,702397,Publishing,Nonfiction,US,failed,4999.0,980.00,USD,2012-08-15 17:11:00,2012-09-14,16,980.000000
702398,702398,Games,Tabletop Games,US,canceled,500.0,121.00,USD,2016-01-24 16:03:27,2016-02-23,5,121.000000
702399,702399,Film & Video,Narrative Film,US,failed,500.0,135.00,USD,2017-02-08 02:28:44,2017-04-09,6,45.000000
702400,702400,Technology,Apps,US,failed,6000.0,0.00,USD,2016-07-29 15:36:29,2016-09-05,0,0.000000
702401,702401,Music,Classical Music,CA,successful,5000.0,5501.00,CAD,2014-02-20 01:00:16,2014-03-22,78,5019.920000
702402,702402,Film & Video,Documentary,NO,successful,20000.0,21500.00,NOK,2015-03-29 21:30:33,2015-04-28,36,2698.970000
702403,702403,Film & Video,Documentary,US,failed,1700.0,25.00,USD,2012-02-15 04:31:10,2012-03-16,1,25.000000
702404,702404,Food,Small Batch,US,failed,6500.0,154.00,USD,2017-03-20 22:08:22,2017-04-19,4,0.000000
702405,702405,Publishing,Poetry,CA,canceled,5500.0,0.00,CAD,2014-08-06 03:46:07,2014-09-20,0,0.000000
702406,702406,Film & Video,Documentary,US,canceled,50000.0,25.00,USD,2014-09-17 02:35:30,2014-10-17,1,25.000000
702407,702407,Film & Video,Narrative Film,US,failed,1500.0,155.00,USD,2011-06-22 03:35:14,2011-07-19,5,155.000000
702408,702408,Film & Video,Narrative Film,US,failed,15000.0,20.00,USD,2010-07-01 19:40:30,2010-08-16,1,20.000000
702409,702409,Technology,Technology,US,failed,15000.0,200.00,USD,2016-01-13 18:13:53,2016-02-13,6,200.000000
702410,702410,Art,Performance Art,US,failed,2000.0,524.00,USD,2011-07-19 09:07:47,2011-08-16,17,524.000000

In [40]:
#find columns that have missing values
modeldf_no_missing.isnull().sum()

Unnamed: 0       0
main_category    0
category         0
country          0
state            0
goal             0
pledged          0
currency         0
launched         0
deadline         0
backers          0
usd pledged      0
dtype: int64

In [41]:
#creates a table of correlation values
modeldf_no_missing.corr()

             Unnamed: 0      goal   pledged   backers  usd pledged
Unnamed: 0     1.000000  0.002168  0.004830  0.001820    -0.003919
goal           0.002168  1.000000  0.007088  0.004405     0.005871
pledged        0.004830  0.007088  1.000000  0.729665     0.896962
backers        0.001820  0.004405  0.729665  1.000000     0.705763
usd pledged   -0.003919  0.005871  0.896962  0.705763     1.000000

In [42]:
#dummy variables for state of kickstarter funding
#get_dummies will auto-drop columns that dummies were created from
modeldf_status = pd.get_dummies(data=modeldf_no_missing, columns=['state'])
modeldf_status.head()

,Unnamed: 0,main_category,category,country,goal,pledged,currency,launched,deadline,backers,usd pledged,state_canceled,state_failed,state_live,state_successful,state_suspended
0,0,Publishing,Poetry,GB,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,0,1,0,0,0
1,1,Film & Video,Narrative Film,US,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,0,1,0,0,0
2,2,Music,Music,US,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,0,1,0,0,0
3,3,Film & Video,Film & Video,US,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,1,0,0,0,0
4,4,Food,Restaurants,US,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,0,0,0,1,0

In [30]:
modeldf.isnull().sum()

Unnamed: 0          0
main_category       0
category            0
country             0
state               0
goal                0
pledged             0
currency            0
launched            0
deadline            0
backers             0
usd pledged      7594
dtype: int64

In [43]:
modeldf_status.corr()

,Unnamed: 0,goal,pledged,backers,usd pledged,state_canceled,state_failed,state_live,state_successful,state_suspended
Unnamed: 0,1.000000,0.002168,0.004830,0.001820,-0.003919,0.003458,0.001869,-0.027399,0.001334,0.002338
goal,0.002168,1.000000,0.007088,0.004405,0.005871,0.011087,0.015264,0.001801,-0.024598,0.008831
pledged,0.004830,0.007088,1.000000,0.729665,0.896962,-0.024665,-0.089316,0.001575,0.108304,0.001022
backers,0.001820,0.004405,0.729665,1.000000,0.705763,-0.028946,-0.100760,-0.003255,0.124078,0.000319
usd pledged,-0.003919,0.005871,0.896962,0.705763,1.000000,-0.022642,-0.080412,-0.006416,0.099450,0.000884
state_canceled,0.003458,0.011087,-0.024665,-0.028946,-0.022642,1.000000,-0.356466,-0.034649,-0.250841,-0.023407
state_failed,0.001869,0.015264,-0.089316,-0.100760,-0.080412,-0.356466,1.000000,-0.108267,-0.783791,-0.073139
state_live,-0.027399,0.001801,0.001575,-0.003255,-0.006416,-0.034649,-0.108267,1.000000,-0.076186,-0.007109
state_successful,0.001334,-0.024598,0.108304,0.124078,0.099450,-0.250841,-0.783791,-0.076186,1.000000,-0.051467
state_suspended,0.002338,0.008831,0.001022,0.000319,0.000884,-0.023407,-0.073139,-0.007109,-0.051467,1.000000

In [45]:
modeldf_status.to_csv('cleaned_dataset.csv')